[defaults]
inventory = ./inventory
host_key_checking = False
interpreter_python = auto_silent

forks = 10
timeout = 10

retry_files_enabled = False
deprecation_warnings = False

stdout_callback = default
bin_ansible_callbacks = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
